@use "@styles/mixins.scss" as *;

.help {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &--back {
    color: rgba(250, 40, 40, 1);
    font-size: 23.75px;
    line-height: 110.00000000000001%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__content {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit, minmax(158px, 1fr));
    gap: clamp(10px, 2vw, 30px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    cursor: pointer;
    padding: 48px 18px;
    border-top: 3px solid transparent;
    &:hover {
      border-width: 3px, 3px, 3px, 3px;
      border-style: solid;

      backdrop-filter: blur(10px);
    }

    &--1 {
      border-bottom: 3px solid rgba(204, 85, 0, 1);

      &:hover {
        border-color: rgba(204, 85, 0, 1);
        box-shadow: 0px 0px 30px 0px rgba(204, 85, 0, 1);
      }
    }

    &--2 {
      border-bottom: 3px solid rgba(32, 204, 16, 1);

      &:hover {
        border-color: rgba(32, 204, 16, 1);
        box-shadow: 0px 0px 30px 0px rgba(32, 204, 16, 1);
      }
    }

    &--3 {
      border-bottom: 3px solid rgba(204, 170, 0, 1);

      &:hover {
        border-color: rgba(204, 170, 0, 1);
        box-shadow: 0px 0px 30px 0px rgba(204, 170, 0, 1);
      }
    }

    &--4 {
      border-bottom: 3px solid rgba(37, 135, 204, 1);

      &:hover {
        border-color: rgba(37, 135, 204, 1);
        box-shadow: 0px 0px 30px 0px rgba(37, 135, 204, 1);
      }
    }

    &--title {
      font-size: 24px;
      line-height: 110.00000000000001%;
      font-weight: 500;
    }

    &--description {
      font-size: 15px;
      line-height: 110.00000000000001%;
      max-width: 90%;
      margin: 0 auto;
    }
  }
}
