@use "@styles/variables" as *;

.auth-form {
  max-width: 490px;
  width: 100%;
  margin: 40px auto;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.auth-title {
  font-size: 54px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}

.auth-subtitle {
  font-size: 18px;
  font-weight: normal;
  color: rgba(179, 179, 179, 1);
  letter-spacing: 0;
  text-align: center;
  margin-bottom: 10px;
}

.auth-field {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.auth-field span {
  font-size: 14px;
  color: #444;
}

.auth-field input,
.auth-field select,
.custom-select {
  padding: 16px 24px;
  border-radius: 60px;
  font-size: 24px;
  transition: 0.2s ease;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  border: 1px solid transparent;

  &.with-error {
    border-color: rgba(250, 40, 40, 1);
  }
}

.custom-select {
  position: relative;
  width: 100%;
  z-index: 100;
}

.custom-select__trigger {
  border-radius: 60px;
  font-size: 24px;
  transition: 0.2s ease;
  // background: rgba(0, 0, 0, 0.5);
  // backdrop-filter: blur(10px);
  // border: 1px solid transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  position: relative;
  z-index: 10;

  &:hover {
    border-color: rgba(250, 40, 40, 0.3);
  }

  &.open {
    border-color: #000;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &.with-error {
    border-color: rgba(250, 40, 40, 1);
  }
}

.custom-select__value {
  font-size: 24px;
  color: #6b6b6b;

  &.colored {
    color: white;
  }
}

.custom-select__dropdown {
  position: absolute;
  top: calc(100% - 20px);
  left: 0;
  right: 0;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 28.09px 0px #fa282880;
  background: rgba(66, 66, 66, 0.911);

  border: 1px solid #000;
  border-top: none;
  border-radius: 32.69px;
  max-height: 250px;
  overflow-y: auto;
  z-index: 100;
}

.custom-select__option {
  padding: 16px 24px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transition: 0.2s ease;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);

  &:last-child {
    border-bottom: none;
  }

  &:hover {
    background: rgba(250, 40, 40, 0.2);
  }

  &.selected {
    background: rgba(250, 40, 40, 0.3);
    font-weight: 500;
  }
}

.auth-field select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.auth-field input:focus,
.auth-field select:focus {
  border-color: #000;
  outline: none;
  font-size: 24px;
  font-weight: 400;
}

.auth-field select:focus {
  background: #00000080;
}

.auth-button {
  margin-top: 10px;
  padding: 12px;
  border-radius: 60px;
  border: 1px solid rgba(250, 40, 40, 1);
  background: rgba(250, 40, 40, 0.01);
  font-size: 30px;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  transition: 0.2s ease;
  box-shadow: 0px 0px 30px 0px rgba(250, 40, 40, 0.5);
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.auth-button:hover {
  opacity: 0.9;
}

.auth-remember {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 14px;

  input {
    display: none;
  }

  .custom-checkbox {
    width: 24px;
    height: 24px;
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(250, 40, 40, 0.5);
    border-radius: 4px;
    position: relative;
    flex-shrink: 0;
  }

  /* красная галочка */
  input:checked + .custom-checkbox::after {
    content: "";
    position: absolute;
    left: 8px;
    top: 3px;
    width: 7px;
    height: 11px;
    border: solid $color-accent;
    border-width: 0 1.5px 1.5px 0;
    transform: rotate(45deg);
  }

  span {
    font-size: 18px;
    color: $color-accent;
  }
}

.auth-link {
  background: none;
  border: none;
  padding: 0;
  font-size: 18px;
  color: $color-accent;
  text-align: left;
  cursor: pointer;

  &:hover {
    opacity: 1;
    text-decoration: underline;
  }
}

@media (max-width: 560px) {
  .auth-title {
    font-size: 35.69px;
  }

  .auth-subtitle {
    font-size: 16px;
  }

  .auth-button {
    font-size: 19.83px;
  }
}
