@use "@styles/mixins.scss" as *;

.profile {
  @include overlay;
  @include flex-center($align: normal);
  padding: 4px 18px 4px 4px;
  gap: 20px;
  position: relative;
  cursor: pointer;

  &__trigger {
    display: flex;
    align-items: center;
    gap: 8px;
    z-index: 2;
    position: relative;
  }

  &__image {
    @include flex-center;
    background: rgba(179, 179, 179, 1);
    border: 0.81px solid rgba(255, 255, 255, 0.2);
    border-radius: 100%;
    width: 41px;
    height: 41px;
  }

  &__panel {
    position: absolute;
    top: -200px;
    right: 0;
    width: 200px;

    background: rgba(0, 0, 0, 0.8);
    border-radius: 26px;
    padding: 4px 18px 18px 14px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    opacity: 0;
    transform: scaleY(0.9) translateY(-10px);
    transform-origin: top;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: 0.25s ease;
  }

  &.is-open {
    border: none;
    background: none;
    z-index: 2;
    .profile__trigger {
      opacity: 0;
    }

    .profile__panel {
      opacity: 1;
      transform: scaleY(1) translateY(0);
      top: 0;
      z-index: 2;
      &--trigger {
        .profile__trigger {
          opacity: 1;
          justify-content: space-between;
        }
      }

      &--btns {
        @include flex-center($direction: column);
        gap: 8px;
      }
    }
  }
}

@media (max-width: 560px) {
  .profile {
    &.is-open {
      .profile__panel {
        left: 0;
      }
    }
  }
}
