@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

header {
  @include flex-center($justify: space-between);
  margin-bottom: 50px;
  gap: 30px;

  .burger {
    display: none;
    width: 52px;
    height: 36px;
    background: none;
    border: 0;
    cursor: pointer;
    @include overlay;

    span {
      display: block;
      height: 2px;
      width: 22px;
      background: rgba(255, 255, 255, 1);
      margin-bottom: 3px;
      transition: 0.3s;
    }
  }

  .nav-mobile {
    display: none;
  }

  nav {
    @include overlay;
    transition:
      opacity 0.3s ease,
      transform 0.3s ease,
      max-width 0.3s ease;
    ul {
      @include flex-center($justify: space-between);
      gap: 47px;
      padding: 0.8rem 1.35rem;

      li {
        line-height: 20px;
        font-size: 18px;
        color: $color-text-main;
      }
    }
  }

  &:has(.search__bar:focus-within) {
    nav {
      opacity: 0;
      transform: translateX(-10px);
      pointer-events: none;
      max-width: 0;
    }

    .search__bar {
      max-width: 100%;
      flex: 1;

      input {
        border-color: rgba(250, 40, 40, 1);
        box-shadow: 0px 0px 30px 0px rgba(250, 40, 40, 0.5);
      }

      .btn {
        display: flex;
      }
    }
  }
}

@media (max-width: 560px) {
  header {
    margin-top: 50px;
    flex-direction: row-reverse;

    .burger {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    nav {
      display: none;
    }

    .nav--input {
      display: none;
    }
  }
}
