.gallery {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
}

.main {
  margin-bottom: 15px;

  img {
    width: 100%;
    height: 360px;
    object-fit: contain;
    border-radius: 12px;
  }
}

.thumbs {
  .thumb {
    background: rgba(0, 0, 0, 0.35);
    border: 1.09px solid rgba(255, 255, 255, 0.5);
    border-radius: 6.54px;
  }
  img {
    width: 100%;
    height: 58px;
    object-fit: contain;
    border-radius: 8px;
    cursor: pointer;
    opacity: 0.6;
    transition: 0.3s;
  }

  .swiper-slide-thumb-active img {
    opacity: 1;
    border: 2px solid #000;
  }

  :global(.swiper-slide-thumb-active) {
    background: rgba(250, 40, 40, 0.5);
    border: 1.09px solid rgba(250, 40, 40, 0.5);
  }
}
