@use "@styles/mixins.scss" as *;

.selectingDevice {
  &__header {
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 10px;

    &--filter {
      @include overlay;
      display: flex;
      width: 57px;
      height: 57px;
      align-items: center;
      justify-content: center;
    }

    &--input {
      height: -webkit-fill-available;
      width: 100%;

      input {
        height: 100%;
      }
    }
  }

  &__content {
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: clamp(10px, 2vw, 30px);
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 6px;

    &__wrapper {
      @include overlay;
      padding: 30px 21px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    &--image {
      display: flex;
      justify-content: center;
    }

    &--description {
      font-size: 16px;
      text-align: center;
    }

    &--btn {
      border: 1px solid rgba(250, 40, 40, 0.7);
      font-size: 24px;
      line-height: 110.00000000000001%;
      font-weight: 500;
      padding-top: 18px;
      padding-bottom: 18px;
      border-radius: 30px;
      background: rgba(0, 0, 0, 0.5);

      &:hover {
        border: 1px solid rgba(250, 40, 40, 1);
        box-shadow: 0px 0px 30px 0px rgba(250, 40, 40, 0.7);
        backdrop-filter: blur(10px);
      }
    }
  }
}
