@use "@styles/mixins.scss" as *;
@use "@styles/variables.scss" as *;

.profile-page__header__left-side {
  @include overlay;
  @include flex-center($justify: space-between, $align: flex-start);
  padding: 36px 36px 36px 46px;
  gap: 20px;
  width: 100%;

  &__info {
    @include flex-center($direction: column, $align: flex-start);
    gap: 48px;
    &__heading {
      @include flex-center($justify: space-between, $align: flex-start);
      gap: 24px;

      &--profile-image {
        width: 76px;
        height: 76px;
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba(179, 179, 179, 1);
      }

      &__name-role {
        @include flex-center($direction: column, $align: flex-start);
        gap: 18px;

        &--name {
          font-size: 30px;
          @include font-girloy-500;
        }

        &--role {
          font-size: 18px;
          @include font-montserrat-400;
          color: rgba(179, 179, 179, 1);

          span {
            color: rgba(255, 255, 255, 1);
          }
        }
      }
    }

    &__contacts {
      @include flex-center($justify: space-between);
      gap: 48px;

      &__tel,
      &__mail {
        @include flex-center;
        @include font-montserrat-400;
        font-size: 20px;
        gap: 12px;
        line-height: 25px;
      }

      &__tel {
        &--phone {
          p {
            color: rgba(179, 179, 179, 1);
          }

          span {
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      &__mail {
        &--email {
          p {
            color: rgba(179, 179, 179, 1);
          }

          span {
            color: rgba(255, 255, 255, 1);
          }
        }
      }

      &--edit-field {
        padding: 5px 7px;
        color: white;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 40px;
        cursor: pointer;
        font-size: 20px;
      }

      .custom-select {
        position: relative;

        button {
          padding: 5px 7px;
          color: white;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 40px;
          cursor: pointer;
          font-size: 20px;
        }

        .custom-options {
          @include flex-center($direction: column);
          @include overlay;
          gap: 10px;
          position: absolute;
          border-radius: 20px;
          padding: 8px;

          li {
            cursor: pointer;
          }
        }
      }
    }
  }
}
.overlay {
  @include overlay();
  position: fixed;
  inset: 0;

  z-index: 10;
}
