.course {
  display: flex;
  flex-direction: column;
  gap: 60px;

  &--back {
    color: rgba(250, 40, 40, 1);
    font-size: 23.75px;
    line-height: 110.00000000000001%;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    &__video {
      width: 45%;
    }

    &__video {
      display: flex;
      flex-direction: column;

      &--video {
        width: 100%;
        height: 350.2021484375px;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #000000;
        border-radius: 12.8px;
      }

      &--btn {
        padding: 17px 30px;
        background: #fa282880;
        border: 1px solid #fa282880;
        backdrop-filter: blur(10px);
        font-size: 24px;
        font-weight: 500;
        border-radius: 20px;
      }

      &__footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;
      }

      &--btn-totest {
        border: 1px solid #ffffff33;
        background: #00000080;
        border-radius: 40px;
        backdrop-filter: blur(10px);
        padding: 12px 36px;
        display: flex;
        gap: 8px;
      }
    }
  }

  &__text {
    width: 45%;

    &__header {
      display: flex;
      align-items: center;
      gap: 6px;
    }

    &--progress {
      padding: 6px;
      border-radius: 10px;
      border: 1px solid #fa282880;
      background: #fa282880;
      font-size: 24px;
      font-weight: 500;
      backdrop-filter: blur(10px);
      display: flex;
      align-items: center;
      gap: 3px;
    }

    &--type {
      padding: 6px;
      border-radius: 10px;
      border: 1px solid #fa282880;
      background: #00000080;
      font-size: 24px;
      font-weight: 500;
      backdrop-filter: blur(10px);
    }

    &--lvl {
      padding: 6px;
      border-radius: 10px;
      border: 1px solid #ffffff80;
      background: #00000080;
      font-size: 24px;
      font-weight: 500;
      backdrop-filter: blur(10px);
    }

    &__content {
      margin-top: 18px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }
  }
}
