.malfunctiom {
  &__header {
    display: flex;
    flex-direction: column;
    gap: 18px;
    margin-top: 42px;

    &--input {
      max-width: 868.74658203125px;
    }

    &__filter {
      display: flex;
      gap: 12px;
      overflow-x: auto;
      overflow-y: hidden;
      scrollbar-width: none;
      /* Firefox */
      scrollbar-width: none;
      /* IE */
      -ms-overflow-style: none;
      &::-webkit-scrollbar {
        display: none;
      }

      &__item {
        width: fit-content;
        // white-space: nowrap;
        flex: 0 0 auto;
        padding: 5px 10px;
        display: flex;
        align-items: center;
        gap: 12.35px;

        &.active {
          border-color: rgba(250, 40, 40, 1);
          backdrop-filter: blur(10px);
          box-shadow: 0px 0px 30px 0px rgba(250, 40, 40, 0.7);
        }

        span {
          width: 11.771240234375px;
          height: 11.771240234375px;
          background: rgba(250, 40, 40, 1);
          border-radius: 50%;
        }
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 60px;

    &__item {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: rgba(0, 0, 0, 0.5);
      border: 1px solid rgba(255, 255, 255, 0.2);
      backdrop-filter: blur(10px);
      border-radius: 30px;
      padding: 15px 18px;
      cursor: pointer;

      &:hover {
        background: rgba(250, 40, 40, 0.3);
        border-color: rgba(250, 40, 40, 0.5);

        svg {
          color: rgba(250, 40, 40, 1);
        }
      }

      &--left {
        display: flex;
        align-items: center;
        gap: clamp(15px, 2vw, 35px);
        font-size: 32px;
        font-weight: 500;
      }
    }
  }
}

.malfunction-detail {
  display: flex;
  margin-top: 42px;

  &__right {
    max-width: 526.37841796875px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    gap: 36px;
  }

  &__header {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  &--title {
    font-size: 36px;
    font-weight: 600;
  }

  &--description {
    font-size: 18px;
    font-weight: 400;
    color: rgba(204, 204, 204, 1);
  }

  &__accident-reason {
    display: flex;
    flex-direction: column;
    gap: 18px;

    &__content {
      padding-left: 20px;
      display: flex;
      flex-direction: column;
      gap: 5px;

      li {
        font-size: 20px;
        line-height: 150%;
        &::marker {
          color: rgba(250, 40, 40, 1);
        }
      }
    }

    &__whattodo {
      display: flex;
      flex-direction: column;
      gap: 18px;

      &--header {
        font-size: 30px;
        font-weight: 500;
      }

      &--content {
        border-radius: 30px;
        border-left: 2px solid rgba(250, 40, 40, 0.7);
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(10px);
        padding: 42px 30px;
      }
    }
  }
}
