@use "@styles/mixins.scss" as *;

.recomendation {
  &__header {
    max-width: 600px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 42px;

    &--filter {
      @include overlay;
      display: flex;
      width: 57px;
      height: 57px;
      align-items: center;
      justify-content: center;
    }

    &--input {
      height: -webkit-fill-available;
      width: 100%;

      input {
        height: 100%;
      }
    }
  }

  &__content {
    margin-top: 36px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(356px, 1fr));
    gap: clamp(10px, 2vw, 24px);
  }

  &__item {
    @include overlay;
    padding: 29px 23px 23px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    cursor: pointer;

    &__image {
      margin-top: 20px;
    }

    &--title {
      font-size: 30px;
      font-weight: 600;
    }

    &--description {
      color: rgba(204, 204, 204, 1);
      font-size: 18px;
      font-weight: 400;
    }

    &:hover {
      border: 1px solid rgba(250, 40, 40, 1);
      backdrop-filter: blur(10px);

      box-shadow: 0px 0px 30px 0px rgba(250, 40, 40, 0.7);
    }
  }
}
