@use "@styles/variables" as *;
@use "@styles/mixins" as *;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Montserrat";
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
  color: $color-text-main;
  background-color: $color-bg-element;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: $border-radius;
  padding: 0.8rem 1.35rem;
}

.btn {
  width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  font-size: 15px;
  line-height: 30px;

  &--gray {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
  }

  &--active {
    background: rgba(250, 40, 40, 0.5);
    border-color: rgba(250, 40, 40, 0.5);
  }

  &-primaty--active {
    background: rgba(250, 40, 40, 1);
    @include flex-center;
  }
}
