// Цвета
$color-text-main: rgba(255, 255, 255, 1);
$color-text-muted: rgba(128, 128, 128, 1);
$color-accent: rgba(250, 40, 40, 1);

$color-bg-page: rgba(34, 34, 34, 1);
$color-bg-element: rgba(0, 0, 0, 0.5);

// Прочее
$border-radius: 40px;
$transition-default: 0.3s ease;
