@use "@styles/mixins.scss" as *;

.profile-page {
  &__header {
    @include flex-center($justify: space-between, $align: stretch);
    gap: 18px;
    margin-bottom: 36px;

    &__right-side {
      @include flex-center($direction: column, $justify: space-between);
      gap: 18px;

      &__notify,
      &__change-pass {
        @include overlay;
        padding: 14px 15px 17px 15px;
        @include flex-center($justify: center);
        gap: 20px;
        width: 100%;
        height: 100%;
        font-size: 20px;
        cursor: pointer;

        &:hover {
          @include hover;
        }
      }

      &__notify {
        background-image: url("/icon/notify.svg");
        background-position: 5% 50%;
        background-repeat: no-repeat;
        background-size: 24%;

        &--counter {
          @include flex-center;
          @include font-girloy-500;

          width: 74px;

          font-size: 42px;
        }
      }

      &__change-pass {
        background-image: url("/icon/pass.svg");
        background-position: 10% 50%;
        background-repeat: no-repeat;
      }
    }
  }

  &__content {
    @include overlay;
    width: 100%;
    padding: 36px 30px 0 30px;

    h2 {
      @include font-montserrat-500;
      width: 100%;
      text-align: center;
      font-size: 36px;
      margin-bottom: 24px;
    }

    &__course {
      margin-bottom: 54px;
      &__heading {
        margin-bottom: 17px;
        @include flex-center($justify: space-between);

        &--name {
          @include font-montserrat-500;
          font-size: 24px;
        }

        &--progress {
          @include font-montserrat-500;
          font-size: 30px;
          color: rgba(255, 255, 255, 0.4);

          .completed {
            color: rgba(250, 40, 40, 1);
            @include font-montserrat-500;
          }
        }
      }

      &--continue {
        @include font-montserrat-500;
        border: 1.19px solid rgba(255, 255, 255, 0.4);
        background: rgba(255, 255, 255, 0.1);
        font-size: 28.44px;
        max-width: 245px;
        width: 100%;
        border-radius: 20px;
        margin-top: 20px;
        line-height: 50px;
      }
    }
  }
}

@media (max-width: 560px) {
  .profile-page {
    &__header {
      flex-direction: column;

      &__left-side {
        padding: 25px !important;
        gap: 0 !important;

        &__info {
          &__heading {
            &--profile-image {
              height: 52px !important;
              width: 52px !important;
              display: flex;
            }

            &__name-role {
              max-width: 172px;
              &--name {
                font-size: 18px !important;
              }
            }
          }

          &__contacts {
            flex-direction: column !important;
            gap: 18px !important;
            align-items: flex-start !important;

            &__tel,
            &__mail {
              font-size: 14px !important;
              line-height: 16px !important;
            }

            img {
              width: 25px;
              height: 25px;
            }

            &--edit-field {
              width: 90% !important;
            }
          }
        }
      }
    }

    &__content {
      h2 {
        font-size: 24px;
      }

      &__course {
        &__heading {
          &--name {
            font-size: 14px;
          }
          &--progress {
            font-size: 18px;
          }
        }

        &--continue {
          font-size: 14px;
          margin-top: 15px;
          padding: 8px 14px;
          line-height: 1;
          max-width: 122px;
          border-radius: 11.6px;
        }
      }
    }
  }
}
