@use "@styles/mixins.scss" as *;

.profile-page {
  &__header {
    @include flex-center($justify: space-between, $align: stretch);
    gap: 18px;
    margin-bottom: 36px;

    &__left-side {
      @include overlay;
      @include flex-center($justify: space-between, $align: flex-start);
      padding: 36px 36px 36px 46px;
      gap: 20px;
      width: 100%;

      &__info {
        @include flex-center($direction: column, $align: flex-start);
        gap: 48px;
        &__heading {
          @include flex-center($justify: space-between);
          gap: 24px;

          &--profile-image {
            width: 76px;
            height: 76px;
            border-radius: 50%;
            overflow: hidden;
            background-color: rgba(179, 179, 179, 1);
          }

          &__name-role {
            @include flex-center($direction: column, $align: flex-start);
            gap: 18px;

            &--name {
              font-size: 30px;
              @include font-girloy-500;
            }

            &--role {
              font-size: 18px;
              @include font-montserrat-400;
              color: rgba(179, 179, 179, 1);

              span {
                color: rgba(255, 255, 255, 1);
              }
            }
          }
        }

        &__contacts {
          @include flex-center($justify: space-between);
          gap: 48px;

          &__tel,
          &__mail {
            @include flex-center;
            @include font-montserrat-400;
            font-size: 20px;
            gap: 12px;
            line-height: 25px;
          }

          &__tel {
            &--phone {
              p {
                color: rgba(179, 179, 179, 1);
              }

              span {
                color: rgba(255, 255, 255, 1);
              }
            }
          }

          &__mail {
            &--email {
              p {
                color: rgba(179, 179, 179, 1);
              }

              span {
                color: rgba(255, 255, 255, 1);
              }
            }
          }
        }
      }
    }

    &__right-side {
      @include flex-center($direction: column, $justify: space-between);
      gap: 18px;

      &__notify,
      &__change-pass {
        @include overlay;
        padding: 14px 15px 17px 15px;
        @include flex-center($justify: center);
        gap: 20px;
        width: 100%;
        height: 100%;
        font-size: 20px;
        cursor: pointer;

        &:hover {
          @include hover;
        }
      }

      &__notify {
        background-image: url("/icon/notify.svg");
        background-position: 5% 50%;
        background-repeat: no-repeat;
        background-size: 24%;

        &--counter {
          @include flex-center;
          @include font-girloy-500;

          width: 74px;

          font-size: 42px;
        }
      }

      &__change-pass {
        background-image: url("/icon/pass.svg");
        background-position: 10% 50%;
        background-repeat: no-repeat;
      }
    }
  }

  &__content {
    @include overlay;
    width: 100%;
    padding: 36px 30px 0 30px;

    h2 {
      @include font-montserrat-500;
      width: 100%;
      text-align: center;
      font-size: 36px;
      margin-bottom: 24px;
    }

    &__course {
      margin-bottom: 54px;
      &__heading {
        margin-bottom: 17px;
        @include flex-center($justify: space-between);

        &--name {
          @include font-montserrat-500;
          font-size: 24px;
        }

        &--progress {
          @include font-montserrat-500;
          font-size: 30px;
          color: rgba(255, 255, 255, 0.4);

          .completed {
            color: rgba(250, 40, 40, 1);
            @include font-montserrat-500;
          }
        }
      }

      &--continue {
        @include font-montserrat-500;
        border: 1.19px solid rgba(255, 255, 255, 0.4);
        background: rgba(255, 255, 255, 0.1);
        font-size: 28.44px;
        max-width: 245px;
        width: 100%;
        border-radius: 20px;
        margin-top: 20px;
        line-height: 50px;
      }
    }
  }
}
