@use "@styles/mixins.scss" as *;

@media (max-width: 560px) {
  .nav-mobile {
    position: absolute;
    top: 60px;
    right: 0;
    width: 100%;
    overflow: hidden;
    max-width: 0;
    transition: max-width 0.3s ease;
    display: block !important;
    z-index: 9999;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border: none;

    ul {
      flex-direction: column;
      padding: 16px;
    }

    &.open {
      padding: 12px;
      border: 1px solid rgba(255, 255, 255, 0.2);
      max-width: 90%;
      border-right: none;
    }

    .search__bar--mobile {
      max-width: 100%;
      flex: 1;

      input {
        border-color: rgba(250, 40, 40, 1);
        box-shadow: 0px 0px 30px 0px rgba(250, 40, 40, 0.5);
      }

      .btn {
        display: flex;
      }
    }

    .search__bar--mobile {
      position: relative;
      transition:
        max-width 0.35s ease,
        flex 0.35s ease;

      input {
        padding-left: 60px;
        width: 100%;
        transition:
          border-color 0.35s ease,
          box-shadow 0.35s ease;

        outline: none;
        box-shadow: none;
        -webkit-tap-highlight-color: transparent;
        &:focus-visible {
          outline: none;
        }
      }

      .btn {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: none;
        max-width: 81px;
      }
    }
  }
}
